@model IEnumerable<AS.Core.ViewModels.UserViewModel>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Index</li>
        </ol>
    </nav>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rewards)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <div class="rounded">
                    <img src="@Url.Content(@item.PhotoPath)" class="img-thumbnail" alt="" width="250"
                         height="200">
                </div>
            </td>
            <td>
                @foreach (var reward in @item.Rewards)
                {    
                    <div class="col-sm-12">
                        <a asp-action="Details" asp-controller="Reward" asp-route-id="@reward.Id" data-toggle="tooltip" data-placement="top" title="@reward.Title">
                            <div class="rounded mx-auto">
                                <img src="@Url.Content(@System.IO.Path.GetFileName(@reward.ImagePath))" class="img-thumbnail" alt="" width="50"
                                     height="50">
                            </div>
                        </a>
                    </div>
                }
            </td>
            <td>
                <a asp-action="AddReward" asp-route-id="@item.Id">Add Reward</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Edit" asp-controller="Roles" asp-route-userid="@item.Id">Edit role</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>
